<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Info Form</title>
    <link rel="stylesheet" href="detailform.css">
</head>
<body>
    <header>
        <h1>Faculty Info</h1>
    </header>
    <div class="container">
        <form class="nav-search" action="#" method="get">
            <div class="row">
                <div class="col-25">
                    <label for="fname">Enter your Name</label>
                </div>
                <div class="col-75">
                    <input type="text" id="fname" name="fullname" placeholder="Your name.." required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="department">Enter Department</label>
                </div>
                <div class="col-75">
                    <input type="text" id="department" name="department" placeholder="e.g., Computer Science" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="photo">Attach your image</label>
                </div>
                <div class="col-75">
                    <input type="file" id="photo" name="photo">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="cabin">Enter where your cabin is located</label>
                </div>
                <div class="col-75">
                    <input type="text" pattern="[a-zA-Z0-9\s]+" id="cabin" name="cabin" placeholder="Enter block and room no." required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="tt">Attach your timetable</label>
                </div>
                <div class="col-75">
                    <input type="file" id="tt" name="tt" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="free">Enter your free slots if any</label>
                </div>
                <div class="col-75">
                    <input type="text" id="free" name="freeslots" placeholder="Enter timings">
                </div>
            </div>
            <div class="btn">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>