<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Register</h1>
    <form action="/auth/register" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="username">Office Number:</label>
        <input type="text" id="office_number" name="office_number" required>
        <br>
        <label for="username">Free Time:</label>
        <input type="text" id="free_time" name="free_time" required>
        <br>
        <button type="submit">Register</button>
    </form>
</body>
</html>
