<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/detailform.css">
</head>
<body>
    <h1>Register</h1>
    <div class="container">
        <form class="nav-search" action="/auth/register"  enctype="multipart/form-data" method="POST">
            <div class="row">
                <div class="col-25">
                    <label for="name">Enter your Name</label>
                </div>
                <div class="col-75">
                    <input type="text" id="name" name="name"   required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="department">Enter Department</label>
                </div>
                <div class="col-75">
                    <input type="text" id="department" name="department"  required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="photo">Attach your image</label>
                </div>
                <div class="col-75">
                    <input type="file" id="image_path" name="image_path">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="cabin">Enter where your cabin is located</label>
                </div>
                <div class="col-75">
                    <input type="text" pattern="[a-zA-Z0-9\s]+" id="office_number" name="office_number"  required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="tt">Attach your timetable</label>
                </div>
                <div class="col-75">
                    <input type="file" id="pdf_path" name="pdf_path" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="free">Enter your free slots if any</label>
                </div>
                <div class="col-75">
                    <input type="text" id="free_time" name="free_time"  required>
                </div>
            </div>
            <div class="row">
                <div class="col-25"><label for="username">Username:</label></div>
                <div class="col-75"><input type="text" id="username" name="username"  required></div>
            </div>
            <div class="row">
                <div class="col-25"><label for="password">Password:</label></div>
                <div class="col-75"> <input type="password" id="password" name="password" required></div>
            </div>
            <div class="btn">
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
</body>
</html>
