* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("image.jpeg") no-repeat center fixed;
    background-size: cover;
}

.wrapper {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    color: #000000;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.wrapper h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    font-size: 16px;
    color: #000000;
    padding: 0 20px;
    padding-right: 45px;
    outline: none;
    transition: border-color 0.3s;
}

.input-box input::placeholder {
    color: #000000;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
}

.input-box input:focus {
    border-color: #04AA6D;
}

.remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 20px;
}

.remember-forget label input {
    accent-color: #04AA6D;
    margin-right: 5px;
}

.remember-forget a {
    color: #000000;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #04AA6D;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
    transition: background 0.3s;
}

.btn:hover {
    background: #039956;
}

.register-link {
    font-size: 14px;
    text-align: center;
}

.register-link p a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
